<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<div id="main">
    <div id="map"></div>
</div>
<script src="javascripts/map.js"></script>
<script src="javascripts/resize.js"></script>

