<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="javascripts/js/bootstrap-select.js"></script>
    <script src="javascripts/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-select.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css"/>

<!--<select id="datasets_selecter" class="selectpicker" multiple>-->
    
<!--</select>-->
        




<div id="main">
    <div id="map"></div>
    <div id="sidebar" border="2"><p id="info">選択した項目の説明</p></div>
</div>


<script src="javascripts/map.js"></script>
<script src="javascripts/resize.js"></script>
