  <div id="map"></div>
  <script>
    var latlng = new google.maps.LatLng(35.66, 139.69);
    var options = {
        zoom: 15,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), options);

  </script>
  <% if signed_in? %>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/waterpark_form' %>
      </section>
    </aside>
  </div>
<% end %>

  

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>



