<table border="1">
  <tr>
    <th>place</th>
    <th>observed</th>
    <th>weather</th>
    <th>e_coli</th>
    <th>coliform_bacteria</th>
    <th>cod</th>
    <th>water_temperature</th>
    <th>total_residual_cl</th>
    <th>nh3_n</th>
    <th>ph</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>electric_conductivity</th>
    <th>color</th>
    
  </tr>

<% @waterparks.each do |waterpark| %>
  <%= render waterpark %>
<% end %>
</table>
