<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <!--エラーの個数を知らせる-->
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    
    <!--エラーの種類表示-->
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>