<footer class="footer">
  <% if signed_in? %>
    <nav>
      <ul>
        <%= form_tag import_waterparks_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "インポート" %>
        <% end %>
      </ul>
    </nav>
  <% end %>
</footer>